@model IEnumerable<ProjekatWebPortal_Core.Models.ModulModel>

@{
    ViewBag.Title = "ModulPrikaz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="sredina">
    @if (this.User.IsInRole("SuperAdministrator") || this.User.IsInRole("GlobalniUrednik"))
    {
        <a id="novi-materijal" href="@Url.Action("DodajModul", "Globalni", new { predmetId = ViewBag.predmetId })">
            <svg width="60" height="60" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <title>background</title>
                    <rect fill="none" id="canvas_background" height="62" width="62" y="-1" x="-1" />
                    <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
                        <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%" />
                    </g>
                </g>
                <g>
                    <title>Layer 1</title>
                    <rect id="svg_4" height="26" width="3" y="17" x="28.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#fff" />
                    <rect transform="rotate(90, 29.898, 30)" id="svg_9" height="26" width="3" y="17" x="28.397959" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#fff" />
                </g>
            </svg>
        </a>
    }

    @foreach (var modul in Model)
    {
        <div class="kartica-predmet clear-fix" id="@modul.modulId">
            <a class="naziv-predmeta-na-kartici" href="#">@modul.modulNaziv</a>
            <div class="kontrole clear-fix">
                @if (this.User.IsInRole("SuperAdministrator") || this.User.IsInRole("GlobalniUrednik"))
                {
                    <a href=@("/Globalni/EditModul/"+modul.modulId) class="kontrola-ikonica edit"><img src="~/Content/img/uredi.png" alt="uredi" /></a>
                    <a href="#" class="kontrola-ikonica dugme-delete"><img src="~/Content/img/obrisi.png" /></a>
                }
                <a class="predmet-kontrole opis" id="showOpis" href="#" data-opis="@modul.modulOpis" data-toggle="modal" data-target="#opisModal">OPIS</a>
                @Html.ActionLink("MATERIJALI", "MaterijaliPrikaz", "Globalni", new { id = modul.modulId }, new { @class = "predmet-kontrole getMaterijali", tabindex = modul.modulId })
            </div>
        </div>
        @*if (this.User.IsInRole("SuperAdministrator") || this.User.IsInRole("LokalniUrednik"))
            {
                <div class="modal modal-edit fade editModalPredmeta" id="@("editModal"+ predmet.predmetId)" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Uređivanje predmeta <span>   </span></h4>
                            </div>

                            <div class="modal-body">
                                @using (Html.BeginForm("Edit", "Predmet", FormMethod.Post, new { @id = "editPredmeta" }))
                                {

                                    @Html.DropDownListFor(p => p.smeroviId, new SelectList(Model.smerovi, "smerId", "smerNaziv"), new { @multiple = @"multiple", @class = "select2smerovi", @id = "" })

                                    <label class="matDesignLabel">Razred</label>
                                    @Html.DropDownListFor(p => p.Razred, new SelectList(RAZREDI), new { @class = "razredSelect", @id = "razredSelect", @style = "width:50px;position:relative;left:75px;top:12px;margin-bottom:15px" })

                                    @Html.HiddenFor(p => p.predmetId, new { @id = @"predmetId", @name = "predmetId" })
                                    @Html.HiddenFor(p => p.smerId, new { @id = @"smerId", @name = "smerId" })

                                    <label class="matDesignLabel">Naziv predmeta</label>
                                    @Html.TextBoxFor(p => p.predmetNaziv, new { @id = @"predmetNaziv", @name = "predmetNaziv" })

                                    <label class="matDesignLabel">Opis predmeta</label>
                                    @Html.TextAreaFor(p => p.predmetOpis, new { @id = @"predmetOpis", @name = "predmetOpis" })

                                    <button type="button" class="btn btn-default btn-sekundarni" data-dismiss="modal">Zatvori</button>

                                    <button class="btn btn-default" type="submit" id="submitEdit">
                                        Potvrdi izmene
                                    </button>
                                }
                            </div>

                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
            }*@
    }

    <div class="modal fade" id="opisModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Opis modula <span>   </span></h4>
                </div>
                <div class="modal-body">
                    <p id="PrikazOpis"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Obavestenje <span>   </span></h4>
                </div>
                <div class="modal-body">
                    <p>Da li ste sigurni da želite da obrisete modul?</p>
                    <input type="hidden" id="hiddenModulId" />
                </div>
                <div class="modal-footer">
                    <button id="deleteConfirm" type="button" class="btn btn-default">Potvrdi</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                </div>
            </div>
        </div>
    </div>
    <div id="snackbar"><span>Modul uspešno izmenjen!</span></div>
    <div id="snackbarDel"><span>Modul uspešno obrisan!</span></div>
</div>

<script src="~/Scripts/Modul/ModulDelete.js"></script>
<script src="~/Scripts/Modul/OpisShow.js"></script>
<script src="~/Scripts/Modul/SnackBarEdit.js"></script>
<script src="~/Scripts/Modul/SnackBarDelete.js"></script>