@model ProjekatWebPortal_Core.Models.VestModel
@{
    ViewBag.Title = "PrikazVesti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
</style>

<div id="sredina" name="sredina" class="sredina-upload-mat">
    <div id="naprednaPretraga" style="width:100%;margin-left:0px;z-index:2;">
        <input type="text" id="PretragaVesti" onkeyup="PretragaVesti()" style="width:30%;font-size: large" placeholder="Pretraga po naslovu vesti...">
        <div style="width:30%;background-color:white;z-index: 100000; position:relative;">
            <ul id="RezultatiPretrage" style="font-size:large;"></ul>
        </div>
    </div>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!--

    -->

    <div id="container" class="flex-container">

        @if (Model != null)
        {

            <div class="glavna" id="glavna">
                <a href="@string.Format( Url.Action("PrikaziVest","Vesti") + "?Naslov=" + Model.Naslov + "&Datum=" + @*Url.Encode(*@Model.DatumPostavljanja.ToShortDateString()))">
                    <img style="height:350px; width: 820px; margin-left:11px;margin-right:8px; margin-top: 12px" class="card-img" src="@Model.Thumbnail" alt="Card image">
                    <div class="card-img-overlay glavnaVest">
                        <div class="naslovVesti">
                            <p class="card-text"> @Model.Naslov </p>
                            <p class="card-text" style="font-size:medium">@Model.KratakOpis</p>
                        </div>
                        <div style="width: 100%; background: linear-gradient(to bottom, #494949, transparent); height: 17%; position: absolute; left: 1px; top: 0;">
                            <p class="card-text" style="position: absolute; font-size: 13px; color: whitesmoke; top: 10px;"> @Model.DatumPostavljanja.ToShortDateString()</p>
                            @if (User.IsInRole("SuperAdministrator") || User.IsInRole("LokalniUrednik"))
                            {
                                <form action="/Vesti/BrisanjeVesti" method="post">
                                    <input type="hidden" value="@Model.Id" name="Id" />
                                    <input type="hidden" value="true" name="glavna" />
                                    <input type="submit" class="btnGlavnaVest" value="&times" onclick="return confirm('Da li želite da obrišete vest?')" />
                                </form>
                            }
                        </div>
                    </div>
                </a>
            </div>

        }
        else
        {
            <h1>Na žalost, nema vesti</h1>
        }

        <div id="progress" style="display:none">
            <h4>Loading...</h4>
        </div>

        @if (Model != null)
        {
            <script>

        var pageSize = 6;
        var pageIndex = 0;
        var idGlavne = @Model.Id;
            </script>
            <script src="~/Scripts/Vesti/prikazVesti.js"></script>
        }
        <script src="~/Scripts/Materijal/filterMaterijal.js"></script>

        <script src="~/Scripts/customDropdown.js"></script>
    </div>
</div>
@if (Model != null)
{
    if (User.IsInRole("SuperAdministrator") || User.IsInRole("LokalniUrednik"))
    {
        <script>changeAllow = true;</script>

    }
    else
    {
        <script>changeAllow = false;</script>

    }
    <script>
        var changeAllow;

        var datum=@Html.Raw(/*Json.Encode(*/Model.DatumPostavljanja.ToShortDateString()));
    var thumbnail=@Html.Raw(/*Json.Encode(*/Model.Thumbnail));
    var naslov=@Html.Raw(/*Json.Encode(*/Model.Naslov));
    var kratakopis=@Html.Raw(/*Json.Encode(*/Model.KratakOpis));
    var id=@Html.Raw(/*Json.Encode(*/Model.Id));

        if(changeAllow)
            {
            var glavnaukartici= "<div id=\"glavnaukartici\" class=\"card\">" +
           "<div class=\"slikaNaslov\"><img class=\"card-img-top\" src=\"" + thumbnail + "\" alt=\"Card image cap\"> <div class=\"naslovVesti\"><p class=\"card-text\">" + naslov + "</p></div></div>" +
           "<div class=\"card-body\"><div class=\"preveiw\"> <p class=\"prvText\">" + kratakopis + "</p></div> <hr /> <div class=\"prikazi\">" +
                   "<form action=\"/Vesti/PrikaziVest\" method=\"get\">"+
                   "<input type=\"submit\" class=\"btnsVestiPrikaz\" value=\"SAZNAJ VIŠE\" />" +
                    "<input type=\"hidden\" value =\"" + encodeURIComponent(naslov) + "\" name=\"Naslov\" />" +
                     "<input type=\"hidden\" value =\"" + encodeURIComponent(datum) + "\" name=\"Datum\" />" +
                    "</form>"+
                   "<form action=\"/Vesti/BrisanjeVesti\" method=\"post\">" +
                   "<input type=\"hidden\" value =\"" + id + "\" name=\"Id\" />" +
                   "<input type=\"submit\" class=\"btnsVestiPrikaz\" value=\"OBRIŠI\" onclick=\"return confirm('Da li želite da obrišete vest?')\" />" +
                   "</form>"+
               "</div>" +
           "</div>" +
           "</div>";
        }
        else
        {
            var glavnaukartici= "<div id=\"glavnaukartici\" class=\"card\">" +
   "<div class=\"slikaNaslov\"><img class=\"card-img-top\" src=\"" + thumbnail + "\" alt=\"Card image cap\"> <div class=\"naslovVesti\"><p class=\"card-text\">" + naslov + "</p></div></div>" +
   "<div class=\"card-body\"><div class=\"preveiw\"> <p class=\"prvText\">" + kratakopis + "</p></div> <hr /> <div class=\"prikazi\">" +
           "<input type=\"submit\" class=\"btnsVestiPrikaz\" value=\"SAZNAJ VIŠE\" />" +

       "</div>" +
   "</div>" +
   "</div>";
        }

    var child = document.getElementById("glavna");
    var parent=document.getElementById("container");

    $( window ).resize(function() {
        if($(window).width() <930)
        {
            if($(window).width() <500)
            {
                $("#sredina").removeClass("sredina-upload-mat");

            }
            else
            {
                $("#sredina").addClass("sredina-upload-mat");
            }

            $("#container").removeClass("flex-container");

                parent.removeChild(child);              //brise glavnu vest

                $("#container").prepend(glavnaukartici);            //stavlja glavnu vest kao karticu

        }
        else
        {

            $("#container").addClass("flex-container");

            $( "#container" ).prepend(child);           //vraca glavnu vest na svoje mesto

            $("#glavnaukartici").remove();      //brise glavnu kao karticu

        }

    });
    </script>
}

<script src="~/Scripts/prikaziLupicuPretraga.js"></script>
<script src="~/Scripts/UI/hamburger.js"></script>
@*@section Scripts{
    @Scripts.Render("~/Scripts/UI/hamburger.js");

}*@